.card {
    border: none;
    background-color: #eee;
    .card-body {
        text-align: left;

        .card-text li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.page-header {
    h4 {
        text-align: center;
    }
    .page-details-label {
        margin-bottom: 0;
    }

    hr {
        width: 50px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}